:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(94, 5, 94);
}

.header {
  background-color: black;
  color: aliceblue;
  height: 10vh;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-top: 5vh;
}

.select {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.game-box {
  height: 35vh;
  width: 30vw;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 10vh;
}

td {
  width: 2rem;
  height: 2rem;
  border: 3px solid black;
}

.main {
  margin: 0 auto;
  margin-top: 1rem;
}

.winner-display {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 32px;
  padding-top: 2rem;
}

.reset {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.overlay .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.open-overlay {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
