:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/Mines.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 0;
  background-attachment: fixed;
}

.header {
  color: #141b41;
  height: 8vh;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding-top: 5vh;
  text-shadow: -2px 0 aliceblue, 0 2px aliceblue, 2px 0 aliceblue,
    0 -2px aliceblue;
}

.select {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.game-box {
  height: 35vh;
  width: 30vw;
  margin: 0 auto;
  margin-top: 10vh;
}

td {
  width: 1.8rem;
  height: 1.8rem;
  border: 5px inset #260c1a;
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: bold;
}

.main {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: hsl(200, 100%, 50%, 0.6);
}

.reset {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.open-overlay {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.close {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  margin-top: 3rem;
  border-radius: 8px;
}

.winner-display {
  text-align: center;
  color: hsl(200, 100%, 50%);
  text-shadow: -1px 0 #141b41, 0 1px #141b41, 1px 0 #141b41, 0 -1px #141b41;
  font-weight: bold;
  font-size: 40px;
  padding-top: 2rem;
  margin-top: 10rem;
}

.overlay-display {
  background-color: rgba(240, 248, 255, 0.9);
  width: 36vw;
  height: 20vh;
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-radius: 10px;
}

figcaption {
  padding-left: 5rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.bomb {
  background-image: url('./images/tnt.png');
  background-size: contain;
  font-size: 0px;
}

.flag {
  background-image: url('./images/sword.png');
  background-size: contain;
  font-size: 0px;
}

@media screen and (max-width: 845px) {
  .overlay-display {
    height: 30vh;
  }
}
